{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
  <h1>Forgot Password</h1>
  
  {% if success %}
  	<b>An email has been sent to the address provided with instructions on how
  	to reset your password. Please click the link in the email to reset your password.</b>
  {% else %}
  	  {% if error %}
  	  	<b>{{ error }}</b><br /><br />
  	  {% endif %}	
	  <form action="" method="post">
	      {{ form.as_p }}
	      {% csrf_token %}
	      <input type="submit" value="Send Email">
	  </form>
  {% endif %}
{% endblock %}