{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

	
    <input type="submit" value="login" />
    {% csrf_token %}
    <input type="hidden" name="next" value="/manager/list-repositories" />
  </form>
  
  <br />
  <a href="/accounts/forgot-password/">Forgot Password</a>

{% endblock %}